<table>
<thead>
<tr class="header">
<th align="left"></th>
<th align="left">1</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">TransceiverName</td>
<td align="left">WBT 545584</td>
</tr>
<tr class="even">
<td align="left">EthernetAddress</td>
<td align="left">009072085330</td>
</tr>
<tr class="odd">
<td align="left">IPAddress</td>
<td align="left">169.254.118.100</td>
</tr>
<tr class="even">
<td align="left">Version</td>
<td align="left">[0] Ethernet: 00:90:72:08:53:30</td>
</tr>
</tbody>
</table>
<p>[1] Parts-list: WBT 371790/D [2] Product: WBT IP Address: 169.254.118.100 Subnet mask: 255.255.0.0 Default gateway: 169.254.118.1 Serial number: 545584 Embedded software: Rev. 2.20 FPGA TX firmware: Rev. 4 FPGA RX firmware: Rev. 6 CH1: 504W CH2: 487W CH3: 490W CH4: 471W TRD1: Unable to detect transducer TRD2: Unable to detect transducer TRD3: Unable to detect transducer TRD4: Unable to detect transducer | |TransceiverSoftwareVersion |2.20 | |TransceiverNumber |1 | |MarketSegment |Scientific | |TransceiverType |WBT | |SerialNumber |545584 | |Impedance |5400 | |Multiplexing |0 | |RxSampleFrequency |1500000 | |ChannelID |WBT 545584-15 ES70-7C | |ChannelIdShort |ES70-7C Serial No: 0 | |MaxTxPowerTransceiver |2000 | |PulseDuration |0.000128;0.000256;0.000512;0.001024;0.002048 | |PulseDurationFM |0.000512;0.001024;0.002048;0.004096;0.008192 | |HWChannelConfiguration |15 | |TransducerName |ES70-7C | |SerialNumber |0 | |Frequency |70000 | |FrequencyMinimum |45000 | |FrequencyMaximum |90000 | |BeamType |1 | |EquivalentBeamAngle |-20.7 | |Gain |27;27;27;27;27 | |SaCorrection |0;0;0;0;0 | |MaxTxPowerTransducer |750 | |BeamWidthAlongship |7 | |BeamWidthAthwartship |7 | |AngleSensitivityAlongship |23 | |AngleSensitivityAthwartship |23 | |AngleOffsetAlongship |0 | |AngleOffsetAthwartship |0 | |DirectivityDropAt2XBeamWidth |0 |</p>
